.element__like {
  width: 22px;
  height: 19px;
  background: #FFFFFF url(../../../images/element-like.svg);
  background-size: 100%;
  border: 0;
  background-repeat: no-repeat;
  transition: opacity .2s linear;
  cursor: pointer;
  box-sizing: border-box;
}

.element__like:hover {
  opacity: .5;
}